h1 {
    margin-bottom:4px;
    background-color: #6D94C5;
    width:100%;
    padding: 12px;
    color: #ffffff;
}

main {
    padding:10px;
}

.home {
    display: flex;
    gap:12px;
}

.card {
    background-color: #f7f6f1;
    width:33%;
    padding:8px;
    height:150px;
    box-shadow: 0 4px 12px #00000014;
    display: flex;
    flex-direction: column;
    gap:6px;
    transition: transform 0.2s ease-in;
    border-radius:15px;
}

.card:hover {
    transform: scale(1.05);
}

nav {
    display:flex;
    gap:8px;
    padding:12px;
}

.btn {
    padding:5px;
    border-radius: 30px;
    cursor: pointer;
    background-color: #f7f6f1;
    border: 2px solid #EBD9D1;
    transition: transform 0.2s ease-in, background-color 0.2s ease-in;
    flex-shrink: 0;
}

.btn:hover {
    transform: scale(1.05);
    background-color: #e1e0db;
}

.btn:active {
    transform: scale(0.95);
    background-color: #e1e0db;
}
 
.colorPage {
    padding-top:8px;
    padding-bottom:8px;
    display:flex;
    flex-wrap: wrap;
    max-height: 250px;
    overflow-y: auto; 
}

.colorCard {
    width: 33%;
    padding: 8px;
    box-shadow: 0 4px 12px #00000014;
    display: flex;
    flex-direction: column;
    gap:6px;
    border-radius:15px;
}

.fontPage {
    padding-top:8px;
    padding-bottom:8px;
    display:flex;
    flex-direction: column;
    gap:6px;
    max-height: 250px;
    overflow-y: auto; 
}

.fontCard {
    width: 100%;
    padding:8px;
    box-shadow: 0 4px 12px #00000014;
    display: flex;
    gap:6px;
    border-radius:15px;
    align-items: center;

}

.fontName{
    font-size:16px;
}


.colorUnderlineInput {
  border: none;             
  border-bottom: 2px solid #333;  
  outline: none;            
  padding: 4px 0;           
  font-size: 13px;
  background-color: transparent; 
  width: 100%;              
  transition: border-color 0.2s;
}

.fontUnderlineInput {
  border: none;             
  border-bottom: 2px solid #333;  
  outline: none;            
  padding: 4px 0;           
  font-size: 13px;
  background-color: transparent; 
  width: 100%;              
  transition: border-color 0.2s;
}

.colorUnderlineInput:focus,
.fontUnderlineInput:focus {
  border-bottom-color: #007bff; 
}